/* add css module styles here (optional) */

.displayMobile {
  display: block;
  overflow: auto;
  margin-bottom: 16px;
}

.displayDesktop {
  display: block;
  overflow: auto;
  margin-bottom: 16px;
}

@media only screen and (max-width: 768px) {
  .displayDesktop {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .displayMobile {
    display: none;
  }
}
